[submodule "external/OpenGL/glm"]
	path = external/OpenGL/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/OpenGL/globjects"]
	path = external/OpenGL/globjects
	url = https://github.com/cginternals/globjects.git
[submodule "external/OpenGL/glbinding"]
	path = external/OpenGL/glbinding
	url = https://github.com/cginternals/glbinding.git
